
<div class="container-fluid">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Dashboard</a>
  </li>
 
  
  <li class="nav-item">
    <a class="nav-link" href="/custom_scripts">upload files</a>
  </li>


    <li class="nav-item">
      <a class="nav-link" href="/about">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/hosted">bifrost</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/terminal">terminal</a>
    </li>

</ul>
</div>

