
<div class="container-fluid">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Dragon Butt</a>
  </li>
 
  
  <li class="nav-item">
    <a class="nav-link" href="/custom_scripts">upload scripts</a>
  </li>

    <li class="nav-item">
      <a class="nav-link" href="/contact me">contact me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/hosted">bifrost</a>
    </li>

</ul>
</div>

