{%extends 'base.html'%}

{% block head%}
<title>About page on flask app</title>

{%endblock%}


{%block body %} 




<div class="jumbotron text-center">
    <h1>Welcome to Dragon Butt!</h1>
</div>
<div class="card">
    <div class="card-header">
      A flask based remote management console for your server.
    </div>
    <div class="card-body">
      <h5 class="card-title">This tool can be used to monitor system statistics and even upload and execute custom scripts</h5>
      <p class="card-text">This does not come with any authentication method so it should only be accessed via a vpn connection.
        This can also be used to link all your self-hosted services.
      </p>
      
      <a href="https://github.com/dhruvarora561/web_console" class="btn btn-primary">Github</a>
    </div>
  </div>


{%endblock%}