{% extends 'base.html' %}

{%block head%}
<title>Dragon Butt</title>
<link rel="stylesheet" href="main.css">
{%endblock%}


{%block body%}
<div class="jumbotron text-center">
    <h1>Welcome to Dashboard</h1>
    <p class="lead">Feel yourself physically present at your remote machine</p>
</div>
  
<form action="{{ url_for('one_line_cmd')}}" method="POST">
    <label for="command_index.html">Enter command</label>
    <input type="text" name="index_cmd" id="command_index.html">
</form>

<div class="card">
    <div class="card-body">
      System information
      {{ y }}
    </div>
</div>
<div class="card">
    <div class="card-body">
      cpu usage
      {{ cpu}}
    </div>
</div>





{%endblock%}