{% extends 'base.html' %}

{%block head%}
<title>Dashboard</title>
<link rel="stylesheet" href="main.css">
{%endblock%}


{%block body%}
<div class="jumbotron text-center">
    <h1>Welcome</h1>
    
</div>
  


<div class="card ">
    <div class="card-body">
      Server name
      {{ y }}
    </div>
</div>
<div class="card">
    <div class="card-body">
      os version
      {{ z}}
    </div>
</div>

<div class="card">
  <div class="card-body">
    cpu model
    {{cpu}}
  </div>
</div>

<div class="card">
  <div class="card-body">
    cpu usage
    {{usage}}
  </div>
</div>

<div class="card">
  <div class="card-body">
    ram usage
    {{ram}}
  </div>
</div>





{%endblock%}