{%extends 'base.html'%}

{%block head%}
<title>bifrost</title>
{%endblock%}

{%block body%}
<div class="jumbotron text-center">
    <h1>Self hosted services links</h1>
    <p class="lead">use this page to visit your self hosted services directly</p>
</div>


<div class="card">
    <ul class="list-group list-group-flush">
      <a><li class="list-group-item">{{result}}</li></a> 
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>
<a href="/settings">
<button type="button" class="btn btn-dark text-end">Configure</button>
</a>


{%endblock%}
