{%extends 'base.html'%}

{%block head%}
<title>bifrost</title>
{%endblock%}

{%block body%}
<div class="jumbotron text-center">
    <h1>Self hosted services links</h1>
    <p class="lead">use this page to visit your self hosted services directly</p>
</div>


<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{result}}</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>
<!--I need to create a card and then use jinja syntax to print the values read from the table. The issue could be the number of cards,
since each name and link combo requires its separate card. One solution is using the id parameter from the table and generating the cards-->
<a href="/settings">
<button type="button" class="btn btn-dark text-end">Configure</button>
</a>
{%endblock%}
